/* Обнуляющие стили */

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{background: none; cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

/* Удаление стрелочек у input type="number" */
    /* Chrome, Edge, Safari, Opera */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type="number"] {
        appearance: textfield;
    }

/*------------------------*/

/**{outline: 1px dotted green;}*/
html, body {
    overflow-x: hidden;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #5D5555;
    padding: 15px 15px 0px 15px;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

/* header */

.header {
}
.header-mainpage{
    margin: 0px 0px 15px 0px;
}
.header__top {
    
}
.header-top {
    padding: 0px 25px;
    display: flex;
    height: 100px;
    background-color: #8A928B;
    border-radius: 20px 20px 0px 0px;
}
.header-top__brand {
    display: flex;
    align-items: center;
}
.header-top__brand p{
    font-weight: 700;
    font-style: italic;
}
.header-top__logo {
    margin: 0px 15px 0px 0px;
}
.header-top__logo img{
    width: 50px;
}
.header-top__brandname {
    margin-right: 25px;
    font-size: 32px;
    color: #323131;
}
.header-top__search {
    display: flex;
    align-items: center;
    align-self: center;
    flex: 1 1 auto;
    border: 1px solid #323131;
    border-radius: 10px 10px 10px 10px;
    margin-right: 25px;
}
.header-top__search-field {
    flex: 1 1 auto;
    height: 42px;
    border-radius: 10px 0px 0px 10px;
    background-color: #D9D9D9;
    font-size: 20px;
    color: #323131;
    padding: 0px 10px 0px 10px;
}
.header-top__search-field:focus {
    /*box-shadow: 2px 2px 7px 1px #323131;*/
    background-color: #ffffff;
}
.header-top__search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
}
.header-top__search-button svg{
    width: 42px;
    fill: #323131;
}
.header-top__search-button:hover svg{
    fill: #080808;
}
.header-top__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 auto;
}
.header-top__favorite-icon svg{
    width: 47px;
    height: 47px;
    fill: #323131;
    margin-right: 20px;
}
.header-top__favorite-icon:hover svg{
    fill: #080808;
}
.header-top__cart-icon svg {
    width: 38px;
    height: 38px;
    fill: #323131;
    margin-right: 28px;

}
.header-top__cart-icon:hover svg{
    fill: #080808;
}
.header-top__user-icon svg{
    width: 40px;
    height: 40px;
    fill: #323131;
}
.header-top__user-icon:hover svg{
    fill: #080808;
}

/* tags */

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 15px 0px;
    gap: 10px;
}
.tag-button {
    flex: 1 1 auto;
    height: 36px;
    background-color: #8A928B;
    border-radius: 15px;
    font-size: 24px;
    color: #323131;
    padding: 0px 15px 0px 15px;
    text-wrap: nowrap;
}
.tag-button:hover {
    background-color: #abb3ac;
}

/* menu */

.header__menu {
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    height: 50px;
    background-color: #323131;
    border-radius: 0px 0px 20px 20px;
}
.menu__button{
    display: flex;
    align-items: center;
    font-size: 24px;
    letter-spacing: 19%;
    color: #8A928B;
    margin: 0px 30px 0px 0px;
}
.menu__button:hover{
    color: #D9D9D9;
}
.menu__button svg{
    fill: #8A928B;
    width: 30px;
    height: 18px;
    margin-right: 10px;
}
.menu__button:hover svg{
    fill: #D9D9D9;
}
.menu__items{
    display: flex;
    justify-content: end;
    flex: 1 1 auto;
    gap: 50px;
}
.menu__item {
    font-size: 24px;
    letter-spacing: 5%;
    text-wrap: nowrap;
    color: #8A928B;
    /*margin-right: 30px;*/
}
.menu__item:hover {
    color: #D9D9D9;
}

/* main */

.main {
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}
.card-place {
}

/* card */
.card {
    /*flex: 1 1 320px;*/
}
.card__box1 {
    display: inline-block;
    background-color: #8A928B;
    border-radius: 15px;
    padding: 20px;
}
.card__box1:hover {
    background-color: #949c95;
    box-shadow: 2px 2px 10px 5px #323131;
}
.card__box1:hover {
    /*background-color: #323131;
    box-shadow: 2px 2px 15px 10px #323131;*/
}
.card__box2 {
    display: flex;
    flex-direction: column;
    background-color: #323131;
    border-radius: 15px;
    padding: 13px;
    /*width: 282px;*/
    height: 469px;
}
.card__photo {
    height: 162px;
    text-align: center;
    background-color: #8A928B;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card__photo img{
    border-radius: 7px;
    width: 255px;
    height: 0;
    /*border: 1px solid #323131;*/
}
.card__weight-price {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
    font-size: 24px;
}
.card__weight {
    color: #8A928B;
}
.card__price {
    color: #70B973;
}
.card__dishname {
    background-color: #8A928B;
    min-height: 71px;;
    border-radius: 0px 0px 7px 7px;
    padding: 7px;
    margin: 0px 0px 17px 0px;
}
.card__dishname p{
    color: #323131;
    font-size: 16px;
    font-weight: 600;
}
.card__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    margin-bottom: 20px;
}
.card__minus-button {
    margin: 0px 10px 0px 0px;
}
.card__minus-button svg{
    width: 42px;
    height: 42px;
    fill: #8A928B;
}
.card__minus-button:active svg {
    fill: #a5ada6;
}
.card__quantity{
    flex: 1 1 100%;
}
.card__quantity-input {
    height: 42px;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    text-align: right;
    border-radius: 5px;
    background-color: #D9D9D9;
}
.card__quantity-input:focus {
    /*box-shadow: 2px 2px 7px 1px #323131;*/
    background-color: #ffffff;
}
.card__plus-button {
    margin: 0px 10px 0px 10px;

}
.card__plus-button svg {
    width: 42px;
    height: 42px;
    fill: #8A928B;
}
.card__plus-button:active svg {
    fill: #a5ada6;
}
.card__measure-unit {
    display: flex;
    flex: 1 1 auto;
}
.card__measure-unit p {
    font-size: 24px;
    color: #8A928B;
}
.card__measure-unit svg{
    width: 26px;
    height: 29px;
    fill: #8A928B;
}
.card__measure-unit:hover svg {
    fill: #a5ada6;
}
.card__line {
    width: 100%;
    min-height: 1px;
    background-color: #8A928B;
    margin: 0px 0px 10px 0px;
}
.card__total {
    display: flex;
    justify-content: space-between;
}
.card__total-text {
    color: #8A928B;
    font-size: 18px;
    margin-bottom: 5px;
}
.card__total-price{
    color: #70B973;
    font-size: 18px;
}
.card__actions {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.card__add-to-favourite {
    margin: 0px 25px 0px 0px;
}
.card__add-to-favourite svg{
    width: 42px;
    height: 42px;
    fill: #8A928B;
}
.card__add-to-favourite:hover svg {
    fill: #70d173;
}
.card__add-to-mealplan {
    margin: 0px 25px 0px 0px;
}
.card__add-to-mealplan svg {
    width: 42px;
    height: 42px;
    fill: #8A928B;
}
.card__add-to-mealplan:hover svg{
    fill: #70d173;
}
.card__in-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    min-height: 37px;
    background-color: #8A928B;
    color: #323131;
    font-size: 20px;
    padding: 0px 5px 0px 5px;
    font-weight: 600;
    border-radius: 5px;
}
.card__in-cart-button_green{
    background-color: #70B973;
}
.card__in-cart-button:hover {
    background-color: #70d173;
}